In [ ]:
# kaggle

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\ajupe\anaconda3\lib\site-packages (1.6.6)
Requirement already satisfied: six>=1.10 in c:\users\ajupe\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\ajupe\anaconda3\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\ajupe\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\ajupe\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\ajupe\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\ajupe\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\ajupe\anaconda3\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\users\ajupe\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\ajupe\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\ajupe\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\ajupe\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ajupe\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ajupe\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\ajupe\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [4]:
!kaggle datasets download -d https://www.kaggle.com/datasets/kabure/retail-bankingdemodata?select=completedtrans.csv

Invalid dataset specification https://www.kaggle.com/datasets/kabure/retail-bankingdemodata?select=completedtrans.csv

In [5]:
!pip install requests

Requirement already satisfied: requests in c:\users\ajupe\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ajupe\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ajupe\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ajupe\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ajupe\anaconda3\lib\site-packages (from requests) (2023.7.22)

In [6]:
import requests
import pandas as pd

In [12]:
!kaggle datasets download -d kabure/retail-bankingdemodata

401 - Unauthorized - Unauthenticated

In [13]:
import os

# Make sure kaggle.json is in the current directory and then set KAGGLE_CONFIG_DIR
os.environ['KAGGLE_CONFIG_DIR'] = os.getcwd()

In [14]:
!kaggle datasets download -d kabure/retail-bankingdemodata

Downloading retail-bankingdemodata.zip to C:\Users\ajupe\OneDrive - New Zealand Skills & Education Group\GDDA7123C\GDDA707_Advanced Data Engineering\Assessment-2

  0%|          | 0.00/31.8M [00:00<?, ?B/s]
  3%|3         | 1.00M/31.8M [00:01<00:39, 827kB/s]
  6%|6         | 2.00M/31.8M [00:01<00:19, 1.62MB/s]
  9%|9         | 3.00M/31.8M [00:01<00:12, 2.42MB/s]
 13%|#2        | 4.00M/31.8M [00:01<00:08, 3.39MB/s]
 16%|#5        | 5.00M/31.8M [00:01<00:06, 4.38MB/s]
 19%|#8        | 6.00M/31.8M [00:02<00:05, 4.95MB/s]
 22%|##1       | 7.00M/31.8M [00:02<00:04, 5.87MB/s]
 25%|##5       | 8.00M/31.8M [00:02<00:04, 6.03MB/s]
 31%|###1      | 10.0M/31.8M [00:02<00:03, 7.35MB/s]
 35%|###4      | 11.0M/31.8M [00:02<00:02, 7.55MB/s]
 38%|###7      | 12.0M/31.8M [00:02<00:02, 7.73MB/s]
 41%|####      | 13.0M/31.8M [00:02<00:02, 7.82MB/s]
 44%|####3     | 14.0M/31.8M [00:03<00:02, 7.66MB/s]
 47%|####7     | 15.0M/31.8M [00:03<00:02, 7.96MB/s]
 50%|#####     | 16.0M/31.8M [00:03<00:01, 8.43MB/s]
 53%|#####3    | 17.0M/31.8M [00:03<00:01, 7.98MB/s]
 57%|#####6    | 18.0M/31.8M [00:03<00:01, 8.50MB/s]
 60%|#####9    | 19.0M/31.8M [00:03<00:01, 8.41MB/s]
 63%|######2   | 20.0M/31.8M [00:03<00:01, 8.42MB/s]
 66%|######5   | 21.0M/31.8M [00:03<00:01, 8.49MB/s]
 69%|######9   | 22.0M/31.8M [00:04<00:01, 8.46MB/s]
 72%|#######2  | 23.0M/31.8M [00:04<00:01, 8.31MB/s]
 75%|#######5  | 24.0M/31.8M [00:04<00:00, 8.36MB/s]
 79%|#######8  | 25.0M/31.8M [00:04<00:00, 8.41MB/s]
 82%|########1 | 26.0M/31.8M [00:04<00:00, 8.33MB/s]
 85%|########4 | 27.0M/31.8M [00:04<00:00, 8.34MB/s]
 88%|########7 | 28.0M/31.8M [00:04<00:00, 8.33MB/s]
 91%|#########1| 29.0M/31.8M [00:04<00:00, 8.41MB/s]
 94%|#########4| 30.0M/31.8M [00:05<00:00, 7.88MB/s]
 97%|#########7| 31.0M/31.8M [00:05<00:00, 8.49MB/s]
100%|##########| 31.8M/31.8M [00:05<00:00, 8.18MB/s]
100%|##########| 31.8M/31.8M [00:05<00:00, 6.30MB/s]

In [15]:
from zipfile import ZipFile

# Adjust the file name as necessary
zip_file = "retail-bankingdemodata.zip"

with ZipFile(zip_file, 'r') as zip_ref:
    zip_ref.extractall()

#  remove the ZIP file after extraction
import os
os.remove(zip_file)

In [16]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('completedtrans.csv')

# Display the first few rows of the DataFrame
df.head()

C:\Users\ajupe\AppData\Local\Temp\ipykernel_7072\2116646077.py:4: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('completedtrans.csv')

,column_a,trans_id,account_id,type,operation,amount,balance,k_symbol,bank,account,year,month,day,fulldate,fulltime,fulldatewithtime,date
0,1,T00695247,A00002378,Credit,Credit in Cash,700.0,700.0,NaN,NaN,NaN,2013,1,1,2013-01-01,11:02:40,2013-01-01T11:02:40,2013-01-01
1,2,T00171812,A00000576,Credit,Credit in Cash,900.0,900.0,NaN,NaN,NaN,2013,1,1,2013-01-01,08:23:33,2013-01-01T08:23:33,2013-01-01
2,3,T00207264,A00000704,Credit,Credit in Cash,1000.0,1000.0,NaN,NaN,NaN,2013,1,1,2013-01-01,15:19:21,2013-01-01T15:19:21,2013-01-01
3,4,T01117247,A00003818,Credit,Credit in Cash,600.0,600.0,NaN,NaN,NaN,2013,1,1,2013-01-01,10:42:35,2013-01-01T10:42:35,2013-01-01
4,5,T00579373,A00001972,Credit,Credit in Cash,400.0,400.0,NaN,NaN,NaN,2013,1,2,2013-01-02,11:39:25,2013-01-02T11:39:25,2013-01-02

In [17]:
df.shape

(1056320, 17)

In [18]:
df.isnull().sum()

column_a                 0
trans_id                 0
account_id               0
type                     0
operation           183114
amount                   0
balance                  0
k_symbol            481881
bank                782812
account             760931
year                     0
month                    0
day                      0
fulldate                 0
fulltime                 0
fulldatewithtime         0
date                     0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056320 entries, 0 to 1056319
Data columns (total 17 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   column_a          1056320 non-null  int64
 1   trans_id          1056320 non-null  object
 2   account_id        1056320 non-null  object
 3   type              1056320 non-null  object
 4   operation         873206 non-null   object
 5   amount            1056320 non-null  float64
 6   balance           1056320 non-null  float64
 7   k_symbol          574439 non-null   object
 8   bank              273508 non-null   object
 9   account           295389 non-null   float64
 10  year              1056320 non-null  int64
 11  month             1056320 non-null  int64
 12  day               1056320 non-null  int64
 13  fulldate          1056320 non-null  object
 14  fulltime          1056320 non-null  object
 15  fulldatewithtime  1056320 non-null  object
 16  date              1056320 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 137.0+ MB

In [24]:
drop_columns = ['operation', 'k_symbol', 'bank', 'account']

# Assuming 'df' is your DataFrame
df = df.drop(columns=drop_columns)

In [25]:
df.isnull().sum()

column_a            0
trans_id            0
account_id          0
type                0
amount              0
balance             0
year                0
month               0
day                 0
fulldate            0
fulltime            0
fulldatewithtime    0
date                0
dtype: int64

In [26]:
!pip install pandas pyarrow

Requirement already satisfied: pandas in c:\users\ajupe\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: pyarrow in c:\users\ajupe\anaconda3\lib\site-packages (11.0.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\ajupe\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ajupe\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ajupe\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ajupe\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ajupe\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [27]:
# Assuming 'df' is your DataFrame
bank_transaction = 'bank_transaction.parquet'  # Name of the local file to be created
df.to_parquet(bank_transaction, index=False)

In [29]:
!pip install google-cloud-storage

Collecting google-cloud-storage
  Obtaining dependency information for google-cloud-storage from https://files.pythonhosted.org/packages/a7/0b/810c51757e1815a6e0888a914e1b7493f8ed9f50878fb4e44114693deb24/google_cloud_storage-2.15.0-py2.py3-none-any.whl.metadata
  Downloading google_cloud_storage-2.15.0-py2.py3-none-any.whl.metadata (6.1 kB)
Requirement already satisfied: google-auth<3.0dev,>=2.26.1 in c:\users\ajupe\anaconda3\lib\site-packages (from google-cloud-storage) (2.28.1)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.15.0 in c:\users\ajupe\anaconda3\lib\site-packages (from google-cloud-storage) (2.17.1)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in c:\users\ajupe\anaconda3\lib\site-packages (from google-cloud-storage) (2.4.1)
Requirement already satisfied: google-resumable-media>=2.6.0 in c:\users\ajupe\anaconda3\lib\site-packages (from google-cloud-storage) (2.7.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\ajupe\anaconda3\lib\site-packages (from google-cloud-storage) (2.31.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\ajupe\anaconda3\lib\site-packages (from google-cloud-storage) (1.5.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\ajupe\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.15.0->google-cloud-storage) (1.62.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in c:\users\ajupe\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.15.0->google-cloud-storage) (4.25.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\ajupe\anaconda3\lib\site-packages (from google-auth<3.0dev,>=2.26.1->google-cloud-storage) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\ajupe\anaconda3\lib\site-packages (from google-auth<3.0dev,>=2.26.1->google-cloud-storage) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\ajupe\anaconda3\lib\site-packages (from google-auth<3.0dev,>=2.26.1->google-cloud-storage) (4.9)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ajupe\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ajupe\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ajupe\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ajupe\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2023.7.22)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\ajupe\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=2.26.1->google-cloud-storage) (0.4.8)
Downloading google_cloud_storage-2.15.0-py2.py3-none-any.whl (123 kB)
   ---------------------------------------- 0.0/123.5 kB ? eta -:--:--
   --- ------------------------------------ 10.2/123.5 kB ? eta -:--:--
   --------- ----------------------------- 30.7/123.5 kB 435.7 kB/s eta 0:00:01
   ------------------------------- ------ 102.4/123.5 kB 980.4 kB/s eta 0:00:01
   -------------------------------------- 123.5/123.5 kB 906.1 kB/s eta 0:00:00
Installing collected packages: google-cloud-storage
Successfully installed google-cloud-storage-2.15.0

In [ ]:
created a service account

In [31]:
import os

# Replace 'path/to/your/service-account-file.json' with the actual path to your service account key file
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'C:\\Users\\ajupe\\OneDrive - New Zealand Skills & Education Group\\GDDA7123C\\GDDA707_Advanced Data Engineering\\Assessment-2\\gdda707assessment2-2bfa36490da5.json'

In [33]:
from google.cloud import storage

# Initialize the Google Cloud Storage client
storage_client = storage.Client()

# Your GCP bucket name
bucket_name = '707storage'

# The destination path and file name in your bucket
destination_blob_name = 'bank_transaction/bank_transaction.parquet'

# The path to your local file you want to upload
parquet_file = 'bank_transaction.parquet'

# Get the bucket
bucket = storage_client.bucket(bucket_name)

# Create a new blob and upload the file's content
blob = bucket.blob(destination_blob_name)
blob.upload_from_filename(parquet_file)

print(f'File {parquet_file} uploaded to {destination_blob_name}.')

File bank_transaction.parquet uploaded to bank_transaction/bank_transaction.parquet.

In [61]:
import pandas as pd

# Corrected URL pointing to the raw CSV file
url = 'https://raw.githubusercontent.com/microsoft/DataStoriesSamples/master/samples/FraudDetectionOnADL/Data/transactions.csv'

# Use pandas to read the CSV file directly from the raw URL
df = pd.read_csv(url)

# Display the first few rows of the DataFrame
df.head()

,I4127227587819694,8UX5SHHQ-FVEE-5XU7-FBF8-82OINYYK7KSD,1873.26,USD,6,A,P,173.225,connecticut,6840,...,6840.1,CT,US,6840.2,CT.1,US.1,M,0,17,3/8/2007 18:03
0,E9525730529761877,7LF834E4-BLWQ-FJ92-YEYA-85AF05RI2PCX,740.66,USD,13,A,P,81.159,greater london,sw2,...,GU11 1YH,NaN,GB,GU11 1YH,NaN,GB,M,10,19,7/26/2007 2:36
1,Z6376643485803420,8ZFFW0QS-PN3Y-9N5U-28DW-6HFI162RGVVF,1535.15,USD,4,A,P,97.118,colorado,80126,...,80104,CO,US,80104,CO,US,M,6,24,4/7/2007 19:39
2,R8609290025411138,SVV7LJ8A-PG2L-JVNJ-66NF-HDSQ107UQO5N,1324.41,USD,13,A,P,216.150,new york,14534,...,85233,AZ,US,85233,AZ,US,M,9,7,5/16/2007 11:37
3,Y9572700698484288,3SWVJA0R-MZ11-RM1T-E0BJ-XACU1NOQQRNC,697.31,BRL,14,A,P,91.119,wien,1000,...,1220,NaN,AT,1220,NaN,AT,M,0,25,10/18/2007 12:52
4,W9847720367646182,IG442ZIB-TJCR-V83L-0L8J-RHLM8MWX8MFK,575.16,USD,10,A,P,75.115,florida,33578,...,NaN,NaN,US,NaN,NaN,US,M,8,4,2/11/2007 1:59

In [58]:
df.shape

(599999, 25)

In [64]:
# Assuming 'df' is your DataFrame
complete_transaction = 'complete_transaction.parquet'  # Name of the local file to be created
df.to_parquet(complete_transaction, index=False)

In [65]:
import os

# Replace 'path/to/your/service-account-file.json' with the actual path to your service account key file
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'C:\\Users\\ajupe\\OneDrive - New Zealand Skills & Education Group\\GDDA7123C\\GDDA707_Advanced Data Engineering\\Assessment-2\\gdda707assessment2-2bfa36490da5.json'

In [66]:
from google.cloud import storage

# Initialize the Google Cloud Storage client
storage_client = storage.Client()

# Your GCP bucket name
bucket_name = '707storage'

# The destination path and file name in your bucket
destination_blob_name = 'bank_transaction/complete_transaction.parquet'

# The path to your local file you want to upload
parquet_file = 'complete_transaction.parquet'

# Get the bucket
bucket = storage_client.bucket(bucket_name)

# Create a new blob and upload the file's content
blob = bucket.blob(destination_blob_name)
blob.upload_from_filename(parquet_file)

print(f'File {parquet_file} uploaded to {destination_blob_name}.')

File complete_transaction.parquet uploaded to bank_transaction/complete_transaction.parquet.